# Logs
logs
*.logs
*.log
*.*~

# Runtime data
pids
*.pid
*.seed
*.env
.env
.git
.DS_Store
.pem

# Compiled directories:
build/
dist/
lib/
uploads/

# Dependency directories
node_modules/

npm-debug.log
express_skeleton_with_grid_SPA/public/UIGrid/store/
