html
  head
  body
    a(href='http://localhost:3000')
      h2 client (index.html)
    form(method='post', action='http://localhost:3000/post')
      input(type='file', multiple='', name='file_input', enctype='multipart/form-data')
      input(type='text', name='text_input')
      input(type='submit')
