doctype html
html
  head
    title express+ng+grid
  body
    p Pages of this app:
    ul
        li:  a(href='') home (this page)                         
        li:  a(href='api/lib') ali/lib: Sqlite3 connection to edms lib 
        li:  a(href='edms') edms:  SPA grid (UIGrid) bootstrapped by express  
        li:  a(href='express') angular SPA: hello your name? (routed)
        li:  a(href='http://127.0.0.1:3000/myHello/') myHello SPA: hello your name? (static)
    p Technologies used here
    ul        
        li:  a(href='http://jade-lang.com/') Jade   
        li:  a(href='http://html2jade.org/') Jade <=> HTML realtime (!!)
        li:  a(href='https://naltatis.github.io/jade-syntax-docs/') Jade Syntax  
        li:  a(href='https://expressjs.com/') Express   
        li:  a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript') javascript  
        li:  a(href='https://angularjs.org/') AngularJs   
        li:  a(href='https://docs.angularjs.org/api') AngularJs API
        li:  a(href='https://nodejs.org/en/') nodeJs   
        li:  a(href='http://ui-grid.info/') UIGrid   
        li:  a(href='https://plnkr.co/account/plunks') plunker   
        li:  a(href='https://stackblitz.com/@wdklotz') stackblitz   
        li:  a(href='https://angular.io/start') angular getting started   
        li:  a(href='https://gruntjs.com/') grunt   
        li:  a(href='https://docs.npmjs.com/') npm   
        li:  a(href='https://www.sqlite.org/index.html') sqlite   
        li:  a(href='https://www.ag-grid.com/') agGRid (alternative to UIGrid) 
    p Tutorials of interest
    ul
        li:  a(href='https://www.tutorialsteacher.com/nodejs/nodejs-tutorials') Node.js Tutorials
        li:  a(href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs') MDN Express Tutorial
        li:  a(href='https://www.javatpoint.com/angular-8') Tutotrials: A8, HTML5, CSS, JavaScript, etc...
        li:  a(href='https://www.sqlitetutorial.net/sqlite-nodejs/') SQLite Node.js
    